@charset "UTF-8";

body{
  font-family: "Raleway",selif;
  font-color:#fff;
}
a{
  display: inline-block;
}

.wrapper{
  width: 100%;
/*  display: flex;
  flex-direction: column;
  min-height: 100%;*/
}

.fa:before{
  font-family: FontAwesome;
  display: inline-block;
  text-decoration: none;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/*---------------------------
header
_____________________________*/
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  z-index: 999; 
  background-color: #fff;
}

.inner{
  width: 1100px;
  margin: 0 auto;
}
/*---------------------------
header-----responsive
_____________________________*/


/*.inner_menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/

.fa-bolt{
  float: left;
  color: #4e4e4e;
}
.clearfix .button{
  position: absolute;
  right: 8%;

}
/*--------------------------
common
---------------------------*/
.main{
   margin-top: 78px;
}

.background{
  background-color: #f2f2f2;
}
.button{
  font-size: 12px;
  text-decoration: none;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
   -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.button:hover{
  color:  #74cfae;
  background-color: #fff;
}

.button_box{
  width: 100%;
  display: none;
}
/*--------------------------
first_view
---------------------------*/
.first_view{
  background-color: #f2f2f2;
  padding: 250px 0;
}

.first_view_title{
  text-align: center;
}
.first_view_theme{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}
.first_view_subtheme{
  color: #c0c0c0;
  font-size: 30px;
}
/*--------------------------
description
---------------------------*/
.description{
  padding-top: 50px;
}
.description .inner{
  font-size:0;
}

.thumb_box{
  margin-left: 60px;
  vertical-align: middle; /*両方につける*/
  display: inline-block;
}
.text_box{
  display: inline-block;
  margin-left: 170px;
  vertical-align: middle;
}

.description_title{
  font-size: 24px;
  margin-bottom: 35px;
  text-align: center;
}
.description_title+p{
  font-size: 20px;  
  word-wrap: break-word;
  width: 500px;
  text-align: justify;
  text-justify: auto;
  line-height: 20px;
}

/*--------------------------
work
---------------------------*/
.work{
  background-color: #f2f2f2;
  padding: 60px 0 70px;
}
.work_head{
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  color: #4e4e4e;
}
.work_contents{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
  }
.work_thumb{
  width: 300px;
  font-size: 0;
  margin-left: 100px;
  margin-top: 80px;
  box-sizing: border-box;
}
.work_thumb a{
   opacity: 0.7;
   -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.work_thumb a:hover{
  opacity: 1;
}
.work_thumb:nth-child(-n+3){
  margin-top: 0;
}

.work_thumb:first-child{
  margin-left:0;

}
.work_thumb:nth-child(4){
  margin-left: 0;
}

.work_text{
  display: flex;
  justify-content: center;
  align-items: center;

}

.work_description{
  margin-right: 90px;
  text-align: center;
  width: 500px;
  line-height: 20px;

}

.work_button{
  padding: 14px 20px;

}
/*--------------------------
our_skills
---------------------------*/
.our_skills{
  background-color:#4e4e4e;
  padding: 70px 0 100px;
}

.our_skills_title{
  text-align: center;
  margin-bottom: 60px;
  font-size: 24px;
  color: #fff;
}
.our_skills_contents{
  display: flex;
}
.our_skills_item{
  width: 20%;
  margin-right: 180px;
  text-align: center;
}
.our_skills_item:last-child{
  margin-right: 0;
}
.our_skills_text{
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/*--------------------------
icon
---------------------------*/

.icon{
  background-color: #f2f2f2;
  padding: 200px 0 200px;
}

.icon_nav{
  display: flex;
  justify-content: center;
  text-align: center;
}
.icon_nav_item{
width: 185px;
}
.icon_nav_item .fa{
  width: 100%;
  /*display: block;*/
  padding: 30px 0;
  color: #74cfae;
  background-color: #f2f2f2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.icon_nav_item .fa:hover{
  background-color: #fff;
}


/*--------------------------
footer
---------------------------*/
.green{
  background-color: #74cfae;
  color: #fff;
}
.footer{
  padding: 20px 0 25px 0;

}
.name{
  font-size: 10px;
  text-align: right;
}


/*--------------------------
sp
---------------------------*/

@media screen and (max-width:766px){
  .inner{
    width: 97%;
    margin: 0 auto;
  }

  /*--------------------------
header
---------------------------*/
.button{
  float: none;
}
.button_box{
  display: none;

}
#humberger{
  float: right;
  position: relative;
  height: 30px;
  width: 40px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

#humberger div {
  position: absolute;
  left: 8px;
  height: 2px;
  width: 24px;
  background-color: #ddd;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
  top: 6px;
}
#humberger div:nth-of-type(2) {
  top: 12px;
}
#humberger div:nth-of-type(3) {
  top: 18px;
}

.clearfix .button{
  display: none;
}
  .first_view{
    padding: 160px 0 130px;
  }

  .description{
    padding-bottom: 30px;
  }
  .thumb_box{
    display: block;
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .description_thumb{
    margin: 0 auto;
  }

  .text_box{
    display: block;
    margin-left: 0;
  }
  .description_title+p{
    text-align: center;
    width: 100%;

  }

  .work_contents{
    text-align: center;
    display: block;
  }

  .work_thumb{
    margin-left: 0;
    margin-top: 0;
    width: auto;
  }
  .work_thumb:nth-child(3){
    margin-bottom:80px;
  }
  .work_description{
    margin-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  .work_text{
    display: block;
    width: 100%;
  }
  .work_button_wrapper{
    text-align: center;
  }
  .work_button{
    padding: 30px 50px;
    font-size: 20px;
  }
  .our_skills_contents{
    display: block;
  }
  .our_skills_item{
    width: 100%;
    margin-bottom: 80px;
  }
  .icon{
    padding: 50px 0 50px;
  }
  .icon_nav{
    display: block;
  }
  .icon_nav_item{
    width: 100%;
  }
}
/*--------------------------
tab
---------------------------*/

@media screen and (max-width:1199px) and (min-width: 767px){
  .inner{
    width: 97%;
    margin: 0 auto;
  }
  .fa-bolt{
    margin-left: 30px;
  }
  .description{
    padding: 50px 0 25px;
  }
  .thumb_box{
    display: block;
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .description_thumb{
    margin: 0 auto;
  }

  .text_box{
    display: block;
    margin-left: 0;
  }

  .description_title+p{
    text-align: center;
    width: 800px;
    margin: 0 auto;
  }
  .work_contents{
    text-align: center;
    display: block;
    margin-bottom: 80px;
  }

  .work_thumb{
    margin-left: 0;
    margin-top: 0;
    width: auto;
  }
  .work_thumb:nth-child(3){
    margin-bottom:80px;
  }
  .work_description{
    margin-right: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .work_text{
    display: block;
    width: 100%;
  }
  .work_button_wrapper{
    text-align: center;
  }
  .work_button{
    font-size: 12px;
  }
  .our_skills{
    padding-bottom: 40px;
  }
  .our_skills_contents{
    display: block;
  }
  .our_skills_item{
    width: 100%;
    margin-bottom: 80px;
  }

}